.no-border {
  border: none;
}
.no-outline {
  outline: none;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-underline-on-hover:hover {
  text-decoration: none;
}
.glyphicon-block {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-block-triangle-down:before {
  content: "\e252";
}
/* Dropdown control */
.selectBox-dropdown {
  min-width: 150px;
  position: relative;
  border: solid 1px #BBB;
  line-height: 1.5;
  text-decoration: none;
  text-align: left;
  color: #000;
  outline: none;
  vertical-align: middle;
  background: #F2F2F2;
  background: -moz-linear-gradient(top, #f8f8f8 1%, #e1e1e1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f8f8f8), color-stop(100%, #e1e1e1));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#E1E1E1', GradientType=0);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  cursor: default;
}
.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {
  border-color: #666;
}
.selectBox-dropdown.selectBox-menuShowing {
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.selectBox-dropdown .selectBox-label {
  padding: 2px 8px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
.selectBox-dropdown .selectBox-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 100%;
  border-left: solid 1px #BBB;
}
/* Dropdown menu */
.selectBox-dropdown-menu {
  position: absolute;
  z-index: 99999;
  max-height: 200px;
  min-height: 1em;
  border: solid 1px #BBB;
  /* should be the same border width as .selectBox-dropdown */
  background: #FFF;
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/* Inline control */
.selectBox-inline {
  min-width: 150px;
  outline: none;
  border: solid 1px #BBB;
  background: #FFF;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: auto;
}
.selectBox-inline:focus {
  border-color: #666;
}
/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
  list-style: none;
  display: block;
  cursor: default;
  padding: 0;
  margin: 0;
}
.selectBox-options LI A {
  line-height: 1.5;
  padding: 0 .5em;
  white-space: nowrap;
  overflow: hidden;
  background: 6px center no-repeat;
}
.selectBox-options LI.selectBox-hover A {
  background-color: #EEE;
}
.selectBox-options LI.selectBox-disabled A {
  color: #888;
  background-color: transparent;
}
.selectBox-options LI.selectBox-selected A {
  background-color: #C8DEF4;
}
.selectBox-options .selectBox-optgroup {
  color: #666;
  background: #EEE;
  font-weight: bold;
  line-height: 1.5;
  padding: 0 .3em;
  white-space: nowrap;
}
/* Disabled state */
.selectBox.selectBox-disabled {
  color: #888 !important;
}
.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
  opacity: .5;
  filter: alpha(opacity=50);
  border-color: #666;
}
.selectBox-inline.selectBox-disabled {
  color: #888 !important;
}
.selectBox-inline.selectBox-disabled .selectBox-options A {
  background-color: transparent !important;
}
body {
  background-color: #f3f5f8;
  padding: 56px 0 0 0;
}
label {
  font-weight: normal;
  color: #9c9c9c;
}
.white_bg_section {
  background-color: #ffffff;
}
.light_blue_bg_section {
  background-color: #f3f5f8;
}
.dark_blue_bg_section {
  background-color: #868c9c;
}
.dark_blue_bg_section h3 {
  color: #ffffff !important;
}
.bright_blue_bg_section {
  background-color: #81b0f4;
}
.bright_blue_bg_section h3 {
  color: #ffffff;
}
#categories_slider {
  position: relative;
}
@media (max-width: 767px) {
  #categories_slider {
    border-color: transparent;
  }
}
#categories_slider .MS-content {
  margin: 15px 5%;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 767px) {
  #categories_slider .MS-content {
    margin: 0;
  }
}
#categories_slider .MS-content .item {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  padding: 10px;
  width: 20%;
}
#categories_slider .MS-content .item img {
  width: 100%;
}
@media (max-width: 1200px) {
  #categories_slider .MS-content .item {
    width: 25%;
  }
}
@media (max-width: 992px) {
  #categories_slider .MS-content .item {
    width: 33.3333%;
  }
}
@media (max-width: 767px) {
  #categories_slider .MS-content .item {
    width: 50%;
  }
}
#categories_slider .MS-content .item p {
  color: #9c9c9c;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  margin: 0;
  padding: 10px 0;
}
#categories_slider .MS-controls button {
  position: absolute;
  border: none;
  background: transparent;
  font-size: 30px;
  outline: 0;
  top: 60px;
}
@media (max-width: 767px) {
  #categories_slider .MS-controls button {
    display: none;
  }
}
#categories_slider .MS-controls button:hover {
  cursor: pointer;
}
#categories_slider .MS-controls .MS-left {
  left: 10px;
}
@media (max-width: 992px) {
  #categories_slider .MS-controls .MS-left {
    left: -2px;
  }
}
#categories_slider .MS-controls .MS-right {
  right: 10px;
}
@media (max-width: 992px) {
  #categories_slider .MS-controls .MS-right {
    right: -2px;
  }
}
.item-box {
  -webkit-box-shadow: 0px 0px 5px 0px #efefef;
  -moz-box-shadow: 0px 0px 5px 0px #efefef;
  box-shadow: 0px 0px 5px 0px #efefef;
  background-color: #ffffff;
  padding: 10px;
  margin-top: 25px;
}
.item-box .item-discount {
  position: absolute;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 10px;
  color: #ffffff;
  background-color: #d65745;
  margin-top: 10px;
  -webkit-box-shadow: 0px 3px 3px 0px #6c6c6c;
  -moz-box-shadow: 0px 3px 3px 0px #6c6c6c;
  box-shadow: 0px 3px 3px 0px #6c6c6c;
}
.item-box img {
  width: 100%;
}
.item-box .item-info .item-name {
  color: #4da1ff;
}
.item-box .item-info .item-price,
.item-box .item-info .item-min-order {
  color: #6c6c6c;
}
.item-box .item-info .item-price small,
.item-box .item-info .item-min-order small {
  color: #9c9c9c;
}
.item-box .supplier-info .supplier-origin img {
  width: 30px;
  display: inline-block;
}
.item-box .supplier-info .supplier-action {
  height: 60px;
  padding-top: 20px;
}
hr.dark {
  border-color: #d3d6da;
}
.white-header {
  color: #ffffff;
  text-shadow: 0px 2px 5px #6c6c6c;
}
.item-sm-block {
  color: #6c6c6c;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 14px;
}
.item-sm-block small {
  color: #9c9c9c;
}
.brands-discover-list a {
  float: none;
  display: inline-block;
  margin: 10px;
  color: #ffffff;
}
.brands-discover-list a:hover {
  text-decoration: none;
}
.brands-discover-list img,
.brands-list img,
.suppliers-list img {
  height: 100px;
}
.suppliers-list a {
  float: none;
  display: inline-block;
  margin: 10px;
  color: #9c9c9c;
}
.suppliers-list a:hover {
  text-decoration: none;
}
.suppliers-list img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid #f3f5f8;
}
.full-width-banner {
  width: 100%;
}
.page-banner {
  background-size: cover;
}
.page-banner.home-page h2 {
  font-size: 52px;
  padding-top: 60px;
}
.page-banner.home-page .rfq-create-wrapper {
  padding: 30px 20px;
  background-color: #ffffff;
  margin: 30px 0;
  -webkit-box-shadow: 0px 0px 5px 0px #6c6c6c;
  -moz-box-shadow: 0px 0px 5px 0px #6c6c6c;
  box-shadow: 0px 0px 5px 0px #6c6c6c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.page-banner.supplier-page {
  height: 520px;
}
@media screen and (max-width: 767px) {
  .page-banner.supplier-page {
    height: 200px;
  }
}
.usp_block {
  display: inline-block;
  width: 300px;
  padding: 20px 0 20px 60px;
  text-align: left;
}
.usp_block img {
  float: left;
  width: 46px;
  margin-left: -53px;
}
.usp_block h4 {
  margin-top: 5px;
  margin-bottom: 0;
  color: #6c6c6c;
}
.usp_block p {
  margin: 0;
  color: #9c9c9c;
  font-size: 12px;
}
.abraa-footer {
  color: #6c6c6c;
  background-color: #e9ecf0;
  padding: 30px 0;
}
@media screen and (max-width: 767px) {
  .abraa-footer {
    text-align: center;
  }
}
.abraa-footer .footer-logo {
  width: 140px;
}
.abraa-footer h4 {
  color: #6c6c6c;
  margin-bottom: 20px;
}
.abraa-footer .dlist-footer-ul {
  list-style-type: none;
  padding: 0;
}
.abraa-footer .dlist-footer-ul li a {
  color: #6c6c6c;
  display: block;
  margin-bottom: 5px;
}
.abraa-footer .dlist-footer-ul li a:hover {
  text-decoration: none;
  color: #3d79c5 !important;
}
.abraa-footer .google-play-link {
  display: block;
}
.abraa-footer .google-play-link img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .abraa-footer .google-play-link img {
    max-width: 150px;
    margin-top: 10px;
  }
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mt25 {
  margin-top: 25px;
}
.pad30 {
  padding: 30px;
}
.supplier-ranking i {
  color: #f5c444;
}
.supplier-ranking .ranking_count {
  color: #9c9c9c;
}
.filters-bar {
  margin: 25px 0;
  background-color: #ffffff;
  padding: 20px 10px;
}
.filters-bar .link_filters {
  list-style-type: none;
  padding: 0;
}
.filters-bar .link_filters li a {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #6c6c6c;
}
.filters-bar .link_filters li a:hover {
  text-decoration: none;
}
.filters-bar .link_filters li a:hover {
  color: #4da1ff;
}
.border-bottom-section {
  border-bottom: 2px solid #efefef;
}
.selectBox {
  border: none;
  outline: none;
}
.selectBox.headerSearchType {
  position: absolute;
  min-width: 100px;
}
.selectBox.headerSearchType .selectBox-label,
.selectBox.headerSearchType .selectBox-arrow {
  border: none;
  color: #ffffff;
  background-color: #4da1ff;
  height: 36px;
  padding: 7px 14px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.selectBox.headerSearchType .selectBox-label {
  width: auto !important;
}
.selectBox.headerSearchType .selectBox-arrow {
  padding: 0;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  margin-top: -1px;
}
.selectBox.headerSearchType .selectBox-arrow:before {
  content: "\e252";
}
.selectBox.headerSearchType .selectBox-arrow:before {
  margin-top: 12px;
  display: inline-block;
  font-size: 10px;
  margin-left: 2px;
}
.selectBox.headerSearchType.selectBox-menuShowing .selectBox-label {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.selectBox.headerLang {
  padding: 0;
  min-width: 60px;
}
.selectBox.headerLang .selectBox-label,
.selectBox.headerLang .selectBox-arrow {
  border: none;
  color: #6c6c6c;
  background-color: #ffffff;
  height: 30px;
  padding: 7px 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.selectBox.headerLang .selectBox-arrow {
  padding: 0;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  margin-top: -1px;
}
.selectBox.headerLang .selectBox-arrow:before {
  content: "\e252";
}
.selectBox.headerLang .selectBox-arrow:before {
  margin-top: 12px;
  display: inline-block;
  font-size: 10px;
  margin-left: 2px;
}
.selectBox.headerLang.selectBox-menuShowing .selectBox-label {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.selectBox-options {
  border: none;
}
.selectBox-options.headerSearchType-selectBox-dropdown-menu {
  background-color: #4da1ff;
}
.selectBox-options.headerSearchType-selectBox-dropdown-menu li a {
  color: #ffffff;
  padding: 7px 14px;
}
.selectBox-options.headerSearchType-selectBox-dropdown-menu li.selectBox-hover a,
.selectBox-options.headerSearchType-selectBox-dropdown-menu li.selectBox-selected a {
  background-color: #3d79c5;
}
.selectBox-options.headerSearchType-selectBox-dropdown-menu li.selectBox-hover a:hover,
.selectBox-options.headerSearchType-selectBox-dropdown-menu li.selectBox-selected a:hover {
  text-decoration: none;
}
.selectBox-options.headerLang-selectBox-dropdown-menu {
  background-color: #ffffff;
}
.selectBox-options.headerLang-selectBox-dropdown-menu li a {
  color: #6c6c6c;
  padding: 7px 14px;
}
.selectBox-options.headerLang-selectBox-dropdown-menu li.selectBox-hover a,
.selectBox-options.headerLang-selectBox-dropdown-menu li.selectBox-selected a {
  background-color: #efefef;
}
.selectBox-options.headerLang-selectBox-dropdown-menu li.selectBox-hover a:hover,
.selectBox-options.headerLang-selectBox-dropdown-menu li.selectBox-selected a:hover {
  text-decoration: none;
}
.navbar-abraa {
  background-color: #ffffff;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}
.navbar-abraa .navbar-header .navbar-toggle {
  float: left;
  display: block;
  margin-top: 15px;
  border: none;
}
.navbar-abraa .navbar-header .navbar-logo {
  height: auto;
  margin-top: 15px;
  float: left;
  display: inline-block;
}
.navbar-abraa .navbar-header .navbar-logo img {
  height: 30px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-abraa .navbar-header .navbar-logo {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .navbar-abraa .navbar-header .navbar-logo {
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  .navbar-abraa .header-search-section {
    display: none;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 56px;
  }
  .navbar-abraa .header-search-section.active {
    display: block;
  }
}
.navbar-abraa .navbar-search {
  margin: 0;
  padding: 14px 0 14px 0;
  width: 80%;
}
@media screen and (max-width: 767px) {
  .navbar-abraa .navbar-search {
    width: 100%;
  }
}
.navbar-abraa .navbar-search .navbar_search_input {
  padding-left: 110px;
  padding-right: 60px;
  border: 2px solid #4da1ff;
  height: 36px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.navbar-abraa .navbar-search .navbar-search-btn {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #4da1ff;
  background-color: transparent;
  position: absolute;
  right: 20%;
  margin-top: -30px;
  margin-right: 20px;
}
.navbar-abraa .navbar-search .navbar-search-btn .text {
  display: none;
}
@media screen and (max-width: 767px) {
  .navbar-abraa .navbar-search .navbar-search-btn {
    color: #ffffff;
    background-color: #4da1ff;
    right: 0;
    padding: 10px 15px;
    margin-top: -36px;
    margin-right: 14px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
.navbar-abraa .new_rfq_btn {
  right: 0;
  position: absolute;
  padding: 14px 0;
  margin-top: -58px;
  margin-right: 20px;
}
.navbar-abraa .new_rfq_btn img {
  margin-right: 5px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-abraa .new_rfq_btn span {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .navbar-abraa .new_rfq_btn {
    display: none;
  }
}
.navbar-abraa .navbar_right {
  text-align: right;
  padding: 12px 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navbar-abraa .navbar_right {
    padding: 16px 0;
  }
}
@media screen and (max-width: 767px) {
  .navbar-abraa .navbar_right {
    padding: 0;
  }
}
.navbar-abraa .navbar_right .navbar_dropdown {
  display: inline-block;
}
.navbar-abraa .navbar_right a {
  display: inline-block;
  color: #6c6c6c;
  margin-left: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navbar-abraa .navbar_right a {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .navbar-abraa .navbar_right a {
    margin-top: 4px;
    margin-right: 10px;
  }
}
.navbar-abraa .navbar_right a:hover {
  text-decoration: none;
}
.navbar-abraa .navbar_right a .glyphicon {
  font-size: 10px;
  margin-left: 6px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navbar-abraa .navbar_right a .glyphicon {
    margin-left: 3px;
  }
}
@media screen and (max-width: 767px) {
  .navbar-abraa .navbar_right .user_profile_box {
    position: absolute;
    right: 0;
    margin-top: -50px;
  }
}
.navbar-abraa .navbar_right .user_profile_box .dropdown .user_profile_btn img {
  width: 40px;
  border-radius: 50%;
  border: 1px solid #efefef;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navbar-abraa .navbar_right .user_profile_box .dropdown .user_profile_btn img {
    width: 30px;
  }
}
.navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown {
  width: 180px;
  padding: 10px;
  margin-top: -51px;
  margin-left: -1px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #4da1ff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown {
    margin-top: -41px;
    margin-left: -11px;
  }
}
@media screen and (max-width: 767px) {
  .navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown {
    margin-left: -101px;
    margin-top: -45px;
  }
}
.navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown.visitors_dropdown {
  margin-top: 5px;
}
.navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown .profile-img-section img {
  width: 40px;
  border-radius: 50%;
  border: 1px solid #efefef;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown .profile-img-section img {
    width: 30px;
  }
}
.navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown .profile-img-section .glyphicon {
  float: right;
  margin-top: 10px;
  font-size: 12px;
  color: #6c6c6c;
}
.navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown .profile-info-section {
  padding-top: 20px;
}
.navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown .profile-info-section p {
  margin: 0;
  color: #9c9c9c;
}
.navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown .profile-info-section p.profile-email {
  color: #4da1ff;
}
.navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown .profile-links-section hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown .profile-links-section a {
  margin: 0;
}
.navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown .profile-links-section ul {
  list-style-type: none;
  padding: 0;
}
.navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown .profile-links-section ul li {
  padding: 0;
}
.navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown .profile-links-section ul li a {
  display: block;
  width: 100%;
  padding: 5px 0px;
}
.navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown .profile-links-section ul li a:hover,
.navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown .profile-links-section ul li a:active {
  color: #4da1ff;
}
.navbar-abraa .navbar_right .navbar-lang-form {
  margin: 0;
}
.navbar-abraa .navbar_right .mobile_search_box {
  position: absolute;
  right: 85px;
  margin-top: -42px;
}
.navbar-abraa .navbar_right .mobile_search_box .glyphicon {
  font-size: 22px;
  color: #4da1ff;
}
.navbar-abraa .navbar_right .user_notifications_box .notifications-count {
  display: none;
}
.navbar-abraa .navbar_right .user_notifications_box .user_notifications_btn .glyphicon-bell {
  margin-top: 10px;
  vertical-align: bottom;
  font-size: 22px;
  color: #efefef;
}
.navbar-abraa .navbar_right .user_notifications_box .user_notifications_btn .glyphicon-bell:hover {
  color: #6c6c6c;
}
.navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown {
  padding: 10px;
  width: 200px;
  margin-top: -34px;
  margin-left: 6px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown {
    margin-top: -33px;
    margin-left: -8px;
  }
}
.navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown .glyphicon-bell {
  font-size: 22px;
  color: #efefef;
}
.navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown .notifications-header-section {
  padding-bottom: 10px;
}
.navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown .notifications-header-section .glyphicon-triangle-bottom {
  float: right;
  margin-top: 5px;
  font-size: 12px;
  color: #6c6c6c;
}
.navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown .notifications-list ul {
  list-style-type: none;
  padding: 0;
}
.navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown .notifications-list ul li {
  padding-left: 30px;
  border-bottom: 1px solid #efefef;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown .notifications-list ul li .notification-label {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  margin-left: -30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown .notifications-list ul li .notification-label.label-yellow {
  background-color: #fffe4e;
}
.navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown .notifications-list ul li .notification-label.label-green {
  background-color: #008000;
}
.navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown .notifications-list ul li .notification-label.label-red {
  background-color: #ff0000;
}
.navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown .notifications-list ul li .notification-label.label-black {
  background-color: #000000;
}
.navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown .notifications-list ul li .notification-text {
  color: #9c9c9c;
  font-size: 10px;
}
.navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown .notifications-list ul li .notification-action a {
  font-size: 10px;
}
.navbar-abraa .navbar_right .user_notifications_box.with-notifications .glyphicon-bell {
  color: #4da1ff;
}
.navbar-abraa .navbar_right .user_notifications_box.with-notifications .glyphicon-bell:hover {
  color: #3d79c5;
}
.navbar-abraa .navbar_right .user_notifications_box.with-notifications .notifications-count {
  display: block;
  background-color: #ff0000;
  color: #ffffff;
  padding: 0;
  height: 13px;
  width: 13px;
  font-size: 8px;
  border-radius: 50%;
  text-align: center;
  padding-top: 1px;
  position: absolute;
  top: 0;
  margin-left: 14px;
  margin-top: 5px;
}
.navbar-abraa .visitor_buttons {
  position: absolute;
  width: 200px;
  right: 65px;
}
@media screen and (min-width: 1200px) {
  .navbar-abraa .visitor_buttons {
    margin-top: 5px;
  }
}
@media screen and (max-width: 767px) {
  .navbar-abraa .visitor_buttons {
    right: 0;
  }
}
.plain_blue_link {
  color: #4da1ff !important;
}
.plain_blue_link:hover {
  text-decoration: none;
  color: #3d79c5 !important;
}
.abraa-btn {
  border-color: #4da1ff !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.abraa-blue-btn {
  background-color: #4da1ff;
  color: #ffffff !important;
}
.abraa-blue-btn:hover,
.abraa-blue-btn:active,
.abraa-blue-btn:focus {
  background-color: #ffffff;
  color: #4da1ff !important;
}
.abraa-white-btn {
  background-color: #ffffff;
  color: #4da1ff !important;
}
.abraa-white-btn:hover,
.abraa-white-btn:active,
.abraa-white-btn:focus {
  background-color: #4da1ff;
  color: #ffffff !important;
}
.abraa-transparent-btn {
  background-color: transparent;
  border-color: #efefef !important;
  color: #efefef;
}
.abraa-transparent-btn:hover,
.abraa-transparent-btn:active,
.abraa-transparent-btn:focus {
  background-color: #4da1ff;
  color: #ffffff !important;
  border-color: #4da1ff !important;
}
.abraa-fixed-width-btn {
  width: 180px;
  text-align: center;
}
.abraa-btn-group .btn {
  border-radius: 0;
  box-shadow: none;
  background-color: #ffffff;
  border-color: #e9ecf0;
  color: #9c9c9c;
}
.abraa-btn-group .btn.active {
  background-color: #4da1ff;
  color: #ffffff;
}
/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid #efefef;
}
/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  border-color: #4da1ff;
}
/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #4da1ff;
  border-color: #4da1ff;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.collapse-filter-btn {
  color: #9c9c9c;
}
.collapse-filter-btn:hover {
  color: #4da1ff;
}
