.no-border {
  border: none;
}
.no-outline {
  outline: none;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-underline-on-hover:hover {
  text-decoration: none;
}
[dir=rtl] .text-right {
  text-align: left !important;
}
[dir=rtl] .pull-right {
  float: left !important;
}
[dir=rtl] .glyphicon-arrow-right:before {
  content: "\e091";
}
[dir=rtl] .navbar-abraa .navbar-header .navbar-toggle {
  float: right;
}
@media screen and (max-width: 767px) {
  [dir=rtl] .navbar-abraa .navbar-header .navbar-logo {
    float: right;
  }
}
[dir=rtl] .navbar-abraa .navbar-search .selectBox .selectBox-label,
[dir=rtl] .navbar-abraa .navbar-search .selectBox .selectBox-arrow {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-clip: padding-box;
}
[dir=rtl] .navbar-abraa .navbar-search .selectBox .selectBox-arrow:after {
  margin-right: 2px;
}
[dir=rtl] .navbar-abraa .navbar-search .selectBox.selectBox-menuShowing .selectBox-label {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  background-clip: padding-box;
}
[dir=rtl] .navbar-abraa .navbar-search .navbar_search_input {
  padding-right: 110px;
  padding-left: 60px;
}
[dir=rtl] .navbar-abraa .navbar-search .navbar-search-btn {
  right: auto;
  left: 20%;
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  [dir=rtl] .navbar-abraa .navbar-search .navbar-search-btn {
    left: 0;
    margin-left: 14px;
    padding: 8px 15px;
    margin-right: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-clip: padding-box;
  }
}
[dir=rtl] .navbar-abraa .new_rfq_btn {
  right: auto;
  left: 0;
  margin-left: 20px;
}
[dir=rtl] .navbar-abraa .new_rfq_btn img {
  margin-left: 5px;
}
[dir=rtl] .navbar-abraa .navbar_right {
  text-align: left;
}
[dir=rtl] .navbar-abraa .navbar_right a {
  margin-left: 0;
  margin-right: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  [dir=rtl] .navbar-abraa .navbar_right a {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  [dir=rtl] .navbar-abraa .navbar_right a {
    margin-right: 0;
    margin-left: 10px;
  }
}
[dir=rtl] .navbar-abraa .navbar_right a:hover {
  text-decoration: none;
}
[dir=rtl] .navbar-abraa .navbar_right a .glyphicon {
  font-size: 10px;
  margin-left: 0;
  margin-right: 6px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  [dir=rtl] .navbar-abraa .navbar_right a .glyphicon {
    margin-right: 3px;
  }
}
@media screen and (max-width: 767px) {
  [dir=rtl] .navbar-abraa .navbar_right .user_profile_box {
    right: auto;
    left: 0;
  }
}
[dir=rtl] .navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown {
  margin-left: 0;
  margin-right: -1px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  [dir=rtl] .navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown {
    margin-right: -11px;
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  [dir=rtl] .navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown {
    margin-right: -111px;
    margin-left: 0;
  }
}
[dir=rtl] .navbar-abraa .navbar_right .user_profile_box .dropdown.open .user_profile_dropdown .profile-img-section .glyphicon {
  float: left;
}
[dir=rtl] .navbar-abraa .navbar_right .mobile_search_box {
  right: auto;
  left: 85px;
}
[dir=rtl] .navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown {
  margin-left: 0px;
  margin-right: 6px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  [dir=rtl] .navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown {
    margin-right: -8px;
    margin-left: 0;
  }
}
[dir=rtl] .navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown .notifications-header-section .glyphicon-triangle-bottom {
  float: left;
}
[dir=rtl] .navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown .notifications-list ul li {
  padding-left: 0;
  padding-right: 30px;
}
[dir=rtl] .navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown .notifications-list ul li .notification-label {
  margin-left: 0;
  margin-right: -30px;
}
[dir=rtl] .navbar-abraa .navbar_right .user_notifications_box .user_notifications_dropdown .notifications-list ul li .notification-action {
  text-align: left !important;
}
[dir=rtl] .navbar-abraa .navbar_right .user_notifications_box.with-notifications .glyphicon-bell {
  color: #4da1ff;
}
[dir=rtl] .navbar-abraa .navbar_right .user_notifications_box.with-notifications .notifications-count {
  margin-left: 0;
  margin-right: 14px;
}
[dir=rtl] .navbar-abraa .visitor_buttons {
  right: auto;
  left: 65px;
}
@media screen and (min-width: 1200px) {
  [dir=rtl] .navbar-abraa .visitor_buttons {
    margin-top: 5px;
  }
}
@media screen and (max-width: 767px) {
  [dir=rtl] .navbar-abraa .visitor_buttons {
    right: auto;
    left: 0;
  }
}
[dir=rtl] .selectBox .selectBox-label {
  float: right;
}
[dir=rtl] .selectBox .selectBox-arrow {
  position: absolute;
  right: auto;
  left: 0;
}
[dir=rtl] .selectBox .selectBox-arrow:before {
  margin-left: 6px !important;
}
[dir=rtl] .border-right {
  border: none;
  border-left: 1px solid #efefef;
}
@media screen and (max-width: 767px) {
  [dir=rtl] .border-right {
    border: none;
    border-bottom: 1px solid #efefef;
  }
}
[dir=rtl] .product-box.product-box-rfq-btn .new-rfq-content {
  padding-right: auto;
  padding-left: 25px;
}
[dir=rtl] .checkbox-container {
  padding-left: 0;
  padding-right: 25px;
  /* Create a custom checkbox */
}
[dir=rtl] .checkbox-container .checkmark {
  left: auto;
  right: 0;
  /* Create the checkmark/indicator (hidden when not checked) */
}
[dir=rtl] .checkbox-container .checkmark:after {
  left: auto;
  right: 5px;
}
[dir=rtl] .filter-tag .remove-filter-tag {
  margin-left: 0;
  margin-right: 5px;
}
[dir=rtl] .filter-tag.filter-tag-inverse .remove-filter-tag {
  margin-left: 0;
  margin-right: 5px;
}
[dir=rtl] .supplier-popover .supplier-header {
  padding-left: 30px;
  padding-right: 100px;
}
[dir=rtl] .supplier-popover .supplier-header .supplier-logo {
  margin-left: 0;
  margin-right: -90px;
}
[dir=rtl] .breadcrumbs {
  text-align: right;
}
[dir=rtl] .breadcrumbs a {
  display: inline-block;
}
[dir=rtl] .breadcrumbs .glyphicon-chevron-right:before {
  content: "\e079";
}
[dir=rtl] .reviews-section .reviews-summary .reviews-total-score {
  font-size: 32px;
}
[dir=rtl] .reviews-section .reviews-summary .supplier-ranking {
  display: inline-block;
}
[dir=rtl] .reviews-section .reviews-summary .reviews-stats .reviews-score {
  display: inline-block;
  font-size: 10px;
}
[dir=rtl] .reviews-section .reviews-summary .reviews-stats .count_bar {
  display: inline-block;
  width: 70%;
  margin: 0 5px;
  height: 6px;
  border-radius: 30px;
  background-color: #efefef;
}
[dir=rtl] .reviews-section .reviews-summary .reviews-stats .count_bar .count_bar_filled {
  display: block;
  height: 6px;
  border-radius: 30px;
  background-color: #f5c444;
}
[dir=rtl] .reviews-section .reviews-summary .reviews-stats .count_num {
  font-size: 10px;
  display: inline-block;
}
[dir=rtl] .reviews-section .reviews-list {
  padding: 20px 0;
}
[dir=rtl] .reviews-section .reviews-list .review-item {
  padding: 10px 0;
  border-bottom: 1px solid #9c9c9c;
}
[dir=rtl] .abraa-form .required_label {
  float: left;
}
@media screen and (min-width: 768px) {
  [dir=rtl] .abraa-form .social-login-links {
    text-align: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  [dir=rtl] .text-left-sm {
    text-align: right !important;
  }
}
