.no-border {
  border: none;
}
.no-outline {
  outline: none;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.no-underline-on-hover:hover {
  text-decoration: none;
}
.glyphicon-block {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-block-triangle-down:before {
  content: "\e252";
}
.navbar-abraa .navbar-header .navbar-toggle {
  float: right;
}
@media screen and (max-width: 767px) {
  .navbar-abraa .navbar-header .navbar-logo {
    margin-right: -57px;
  }
}
.navbar-abraa .navbar-search .selectBox .selectBox-label,
.navbar-abraa .navbar-search .selectBox .selectBox-arrow {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-clip: padding-box;
}
.navbar-abraa .navbar-search .selectBox .selectBox-arrow:after {
  margin-right: 2px;
}
.navbar-abraa .navbar-search .selectBox.selectBox-menuShowing .selectBox-label {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  background-clip: padding-box;
}
.navbar-abraa .navbar-search .navbar_search_input {
  padding-right: 110px;
  padding-left: 60px;
}
.navbar-abraa .navbar-search .navbar-search-btn {
  right: auto;
  left: 20%;
  margin-left: 20px;
}
.navbar-abraa .new_rfq_btn {
  right: auto;
  left: 0;
  margin-left: 20px;
}
.navbar-abraa .new_rfq_btn img {
  margin-left: 5px;
}
.navbar-abraa .navbar_right {
  text-align: left;
}
.navbar-abraa .navbar_right a {
  margin-left: 0;
  margin-right: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navbar-abraa .navbar_right a {
    margin-right: 0;
  }
}
.navbar-abraa .navbar_right a:hover {
  text-decoration: none;
}
.navbar-abraa .navbar_right a .glyphicon {
  font-size: 10px;
  margin-left: 0;
  margin-right: 6px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navbar-abraa .navbar_right a .glyphicon {
    margin-right: 3px;
  }
}
@media screen and (max-width: 767px) {
  .navbar-abraa .navbar_right .user_profile_box {
    right: auto;
    left: 0;
  }
}
.navbar-abraa .navbar_right .lang_selection_box .dropdown-menu {
  margin-left: 0;
  margin-right: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navbar-abraa .navbar_right .lang_selection_box .dropdown-menu {
    margin-right: 0;
  }
}
