.no-border {
  border: none;
}
.no-outline {
  outline: none;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-underline-on-hover:hover {
  text-decoration: none;
}
.glyphicon-block {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-block-triangle-down:before {
  content: "\e252";
}
/* Dropdown control */
.selectBox-dropdown {
  min-width: 150px;
  position: relative;
  border: solid 1px #BBB;
  line-height: 1.5;
  text-decoration: none;
  text-align: left;
  color: #000;
  outline: none;
  vertical-align: middle;
  background: #F2F2F2;
  background: -moz-linear-gradient(top, #f8f8f8 1%, #e1e1e1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f8f8f8), color-stop(100%, #e1e1e1));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#E1E1E1', GradientType=0);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  cursor: default;
}
.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {
  border-color: #666;
}
.selectBox-dropdown.selectBox-menuShowing {
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.selectBox-dropdown .selectBox-label {
  padding: 2px 8px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
.selectBox-dropdown .selectBox-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 100%;
  border-left: solid 1px #BBB;
}
/* Dropdown menu */
.selectBox-dropdown-menu {
  position: absolute;
  z-index: 99999;
  max-height: 200px;
  min-height: 1em;
  border: solid 1px #BBB;
  /* should be the same border width as .selectBox-dropdown */
  background: #FFF;
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/* Inline control */
.selectBox-inline {
  min-width: 150px;
  outline: none;
  border: solid 1px #BBB;
  background: #FFF;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: auto;
}
.selectBox-inline:focus {
  border-color: #666;
}
/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
  list-style: none;
  display: block;
  cursor: default;
  padding: 0;
  margin: 0;
}
.selectBox-options LI A {
  line-height: 1.5;
  padding: 0 .5em;
  white-space: nowrap;
  overflow: hidden;
  background: 6px center no-repeat;
}
.selectBox-options LI.selectBox-hover A {
  background-color: #EEE;
}
.selectBox-options LI.selectBox-disabled A {
  color: #888;
  background-color: transparent;
}
.selectBox-options LI.selectBox-selected A {
  background-color: #C8DEF4;
}
.selectBox-options .selectBox-optgroup {
  color: #666;
  background: #EEE;
  font-weight: bold;
  line-height: 1.5;
  padding: 0 .3em;
  white-space: nowrap;
}
/* Disabled state */
.selectBox.selectBox-disabled {
  color: #888 !important;
}
.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
  opacity: .5;
  filter: alpha(opacity=50);
  border-color: #666;
}
.selectBox-inline.selectBox-disabled {
  color: #888 !important;
}
.selectBox-inline.selectBox-disabled .selectBox-options A {
  background-color: transparent !important;
}
body {
  background-color: #f3f5f8;
  padding: 40px 0 0 0;
}
.plain_blue_link {
  color: #4da1ff;
}
.plain_blue_link:hover {
  text-decoration: none;
  color: #3d79c5;
}
.selectBox {
  border: none;
  outline: none;
}
.selectBox.headerSearchType {
  position: absolute;
  min-width: 100px;
}
.selectBox.headerSearchType .selectBox-label,
.selectBox.headerSearchType .selectBox-arrow {
  border: none;
  color: #ffffff;
  background-color: #4da1ff;
  height: 36px;
  padding: 7px 14px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.selectBox.headerSearchType .selectBox-label {
  width: auto !important;
}
.selectBox.headerSearchType .selectBox-arrow {
  padding: 0;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  margin-top: -1px;
}
.selectBox.headerSearchType .selectBox-arrow:before {
  content: "\e252";
}
.selectBox.headerSearchType .selectBox-arrow:before {
  margin-top: 12px;
  display: inline-block;
  font-size: 10px;
  margin-left: 2px;
}
.selectBox.headerSearchType.selectBox-menuShowing .selectBox-label {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.selectBox.headerLang {
  padding: 0;
  min-width: 60px;
}
.selectBox.headerLang .selectBox-label,
.selectBox.headerLang .selectBox-arrow {
  border: none;
  color: #6c6c6c;
  background-color: #ffffff;
  height: 30px;
  padding: 7px 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.selectBox.headerLang .selectBox-arrow {
  padding: 0;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  margin-top: -1px;
}
.selectBox.headerLang .selectBox-arrow:before {
  content: "\e252";
}
.selectBox.headerLang .selectBox-arrow:before {
  margin-top: 12px;
  display: inline-block;
  font-size: 10px;
  margin-left: 2px;
}
.selectBox.headerLang.selectBox-menuShowing .selectBox-label {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.selectBox-options {
  border: none;
}
.selectBox-options.headerSearchType-selectBox-dropdown-menu {
  background-color: #4da1ff;
}
.selectBox-options.headerSearchType-selectBox-dropdown-menu li a {
  color: #ffffff;
  padding: 7px 14px;
}
.selectBox-options.headerSearchType-selectBox-dropdown-menu li.selectBox-hover a,
.selectBox-options.headerSearchType-selectBox-dropdown-menu li.selectBox-selected a {
  background-color: #3d79c5;
}
.selectBox-options.headerSearchType-selectBox-dropdown-menu li.selectBox-hover a:hover,
.selectBox-options.headerSearchType-selectBox-dropdown-menu li.selectBox-selected a:hover {
  text-decoration: none;
}
.selectBox-options.headerLang-selectBox-dropdown-menu {
  background-color: #ffffff;
}
.selectBox-options.headerLang-selectBox-dropdown-menu li a {
  color: #6c6c6c;
  padding: 7px 14px;
}
.selectBox-options.headerLang-selectBox-dropdown-menu li.selectBox-hover a,
.selectBox-options.headerLang-selectBox-dropdown-menu li.selectBox-selected a {
  background-color: #efefef;
}
.selectBox-options.headerLang-selectBox-dropdown-menu li.selectBox-hover a:hover,
.selectBox-options.headerLang-selectBox-dropdown-menu li.selectBox-selected a:hover {
  text-decoration: none;
}
.navbar-abraa {
  background-color: #ffffff;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}
.navbar-abraa .navbar-header .navbar-toggle {
  float: left;
  display: block;
  margin-top: 15px;
  border: none;
}
.navbar-abraa .navbar-header .navbar-logo {
  height: auto;
  margin-top: 15px;
  float: left;
  display: inline-block;
}
.navbar-abraa .navbar-header .navbar-logo img {
  height: 30px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-abraa .navbar-header .navbar-logo {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .navbar-abraa .navbar-header .navbar-logo {
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  .navbar-abraa .header-search-section {
    display: none;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 56px;
  }
  .navbar-abraa .header-search-section.active {
    display: block;
  }
}
.navbar-abraa .navbar-search {
  margin: 0;
  padding: 14px 0 14px 0;
  width: 80%;
}
@media screen and (max-width: 767px) {
  .navbar-abraa .navbar-search {
    width: 100%;
  }
}
.navbar-abraa .navbar-search .navbar_search_input {
  padding-left: 110px;
  padding-right: 60px;
  border: 2px solid #4da1ff;
  height: 36px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.navbar-abraa .navbar-search .navbar-search-btn {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #4da1ff;
  background-color: transparent;
  position: absolute;
  right: 20%;
  margin-top: -30px;
  margin-right: 20px;
}
.navbar-abraa .navbar-search .navbar-search-btn .text {
  display: none;
}
@media screen and (max-width: 767px) {
  .navbar-abraa .navbar-search .navbar-search-btn {
    color: #ffffff;
    background-color: #4da1ff;
    right: 0;
    padding: 10px 15px;
    margin-top: -36px;
    margin-right: 14px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
.navbar-abraa .new_rfq_btn {
  right: 0;
  position: absolute;
  padding: 14px 0;
  margin-top: -58px;
  margin-right: 20px;
}
.navbar-abraa .new_rfq_btn img {
  margin-right: 5px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-abraa .new_rfq_btn span {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .navbar-abraa .new_rfq_btn {
    display: none;
  }
}
.navbar-abraa .navbar_right {
  text-align: right;
  padding: 12px 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navbar-abraa .navbar_right {
    padding: 16px 0;
  }
}
@media screen and (max-width: 767px) {
  .navbar-abraa .navbar_right {
    padding: 0;
  }
}
.navbar-abraa .navbar_right .navbar_dropdown {
  display: inline-block;
}
.navbar-abraa .navbar_right a {
  display: inline-block;
  color: #6c6c6c;
  margin-left: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navbar-abraa .navbar_right a {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .navbar-abraa .navbar_right a {
    margin-top: 4px;
    margin-right: 10px;
  }
}
.navbar-abraa .navbar_right a:hover {
  text-decoration: none;
}
.navbar-abraa .navbar_right a .glyphicon {
  font-size: 10px;
  margin-left: 6px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navbar-abraa .navbar_right a .glyphicon {
    margin-left: 3px;
  }
}
@media screen and (max-width: 767px) {
  .navbar-abraa .navbar_right .user_profile_box {
    position: absolute;
    right: 0;
    margin-top: -50px;
  }
}
.navbar-abraa .navbar_right .user_profile_box .user_profile_btn img {
  width: 40px;
  border-radius: 50%;
  border: 1px solid #efefef;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navbar-abraa .navbar_right .user_profile_box .user_profile_btn img {
    width: 30px;
  }
}
.navbar-abraa .navbar_right .navbar-lang-form {
  margin: 0;
}
.navbar-abraa .navbar_right .mobile_search_box {
  position: absolute;
  right: 85px;
  margin-top: -42px;
}
.navbar-abraa .navbar_right .mobile_search_box .glyphicon {
  font-size: 22px;
  color: #4da1ff;
}
