//Styles for different buttons and links across the website

//plain blue hyperlink for website
.plain_blue_link
{
  color: @abraa-blue !important;
  &:hover
  {
    text-decoration: none;
    color: @abraa-dark-blue !important;
  }
}

//custom btn style
.abraa-btn
{
  border-color: @abraa-blue !important;
  .transition;
}

//larger sized buttons
&.abraa-btn-lg
{
  padding: 10px 30px;
}

//blue btn, white on hover
.abraa-blue-btn
{
  background-color: @abraa-blue;
  color: @abraa-button-white !important;
  &:hover, &:active, &:focus
  {
    background-color: @abraa-button-white;
    color: @abraa-blue !important;
  }

  .glyphicon-arrow-right
  {
    margin-left: 12px;
  }
}

//white btn, blue on hover
.abraa-white-btn
{
  background-color: @white;
  color: @abraa-blue !important;
  &:hover, &:active, &:focus
  {
    background-color: @abraa-blue;
    color: @white !important;
  }
  &.transparent-bg
  {
    background-color: @transparent;
    &:hover, &:active, &:focus
    {
      background-color: @abraa-blue;
    }
  }
}

//transparent btn, blue on hover
.abraa-transparent-btn
{
  background-color: @transparent;
  border-color: @light-gray !important;
  color: @light-gray;
  &:hover, &:active, &:focus
  {
    background-color: @abraa-blue;
    color: @white !important;
    border-color: @abraa-blue !important;
  }
  &.blue-text
  {
    border-color: @abraa-blue !important;
    color: @abraa-blue;
  }
}

//fixed width btn, for buttons vertically aligned
.abraa-fixed-width-btn
{
  width: 180px;
  text-align: center;
}

//button group, white as default, blue for an active button
.abraa-btn-group
{
  .btn
  {
    border-radius: 0;
    box-shadow: none;
    background-color: @white;
    border-color: @abraa-light-blue;
    color: @medium-gray;
    &.active
    {
      background-color: @abraa-blue;
      color: @white;
    }
  }
}

//collapse/expand button in filters
.collapse-filter-btn
{
  color: @medium-gray;
  &:hover
  {
    color: @abraa-blue;
  }
}

