//Styles for different buttons and links across the website

//General Hyperlinks For Website
.plain_blue_link{
  color: @abraa-blue !important;
  &:hover{
    text-decoration: none;
    color: @abraa-dark-blue !important;
  }
}

// BUTTON STYLES
.abraa-btn{
  border-color: @abraa-blue !important;
  .transition;
}

.abraa-blue-btn{
  background-color: @abraa-blue;
  color: @white !important;
  &:hover, &:active, &:focus{
    background-color: @white;
    color: @abraa-blue !important;
  }
}

.abraa-white-btn{
  background-color: @white;
  color: @abraa-blue !important;
  &:hover, &:active, &:focus{
    background-color: @abraa-blue;
    color: @white !important;
  }
}

.abraa-transparent-btn{
  background-color: @transparent;
  border-color: @light-gray !important;
  color: @light-gray;
  &:hover, &:active, &:focus{
    background-color: @abraa-blue;
    color: @white !important;
    border-color: @abraa-blue !important;
  }
}

.abraa-fixed-width-btn{
  width: 180px;
  text-align: center;
}

.abraa-btn-group{
  .btn{
    border-radius: 0;
    box-shadow: none;
    background-color: @white;
    border-color: @abraa-light-blue;
    color: @medium-gray;
    &.active{
      background-color: @abraa-blue;
      color: @white;
    }
  }
}

//custom checkbox styling


/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: @white;
  .border-radius;
  border: 2px solid @light-gray;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  border-color: @abraa-blue;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: @abraa-blue;
  border-color: @abraa-blue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.collapse-filter-btn{
  color: @medium-gray;
  &:hover{
    color: @abraa-blue;
  }
}

