//General styles for form elements, shared across the website

//common styles for a form
.abraa-form
{
  label
  {
    color: @label-gray;
  }
  .required_label
  {
    float: right;
    color: @abraa-helper-gray;
    font-size: 12px;
  }
}

//login form
.login-form
{
  .social-login-links
  {
    .no-padding;
    .no-margin;
    list-style-type: none;
    @media screen and (min-width: @screen-sm-min)
    {
      text-align: right;
    }
    li
    {
      display: inline-block;
      padding: 0 5px;
      .social-login-link
      {
        height: 40px;
        width: 40px;
        background-size: 40px 40px;
        display: block;
        &.fb
        {
          background-image: url('../icons/fb_blue.png');
        }
        &.twitter
        {
          background-image: url('../icons/twi_blue.png');
        }
        &.google-play
        {
          background-image: url('../icons/gplus_blue.png');
        }
      }
    }
  }
}

//input text styles
input
{
  &.form-control
  {
    border-color: @abraa-light-blue-border;
    &:focus
    {
      .no-box-shadow;
      border-color: @abraa-blue;
    }

    //validation of input fields - add class validated to any pre-validated form. Add success or error class based on the result of the validation
    //this will cause the green checkmark or the red error icon to display on right side of the input
    &.validated
    {
      padding-right: 40px;
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: right 10px center;
    }
    &.success
    {
      background-image: url('../icons/success_icon.png');
    }
    &.error
    {
      background-image: url('../icons/error_icon.png');
    }
  }
}

textarea{
  &.form-control {
    resize: none;
    border-color: @abraa-light-blue-border;
    .no-box-shadow;
    height: 80px;
    &:focus {
      .no-box-shadow;
      border-color: @abraa-blue;
    }
  }
}

//error messages under the input
.input-error-text
{
  display: block;
  font-size: 12px;
  margin-top: 6px;
  color: @abraa-error-red;
}

//custom file upload button
.custom-file-upload
{
  border: 1px solid @abraa-blue;
  color: @abraa-blue !important;
  text-align: center;
  .border-radius;
  display: block;
  padding: 10px 12px;
  cursor: pointer;
  //hide the original file upload button
  input[type="file"]
  {
    display: none;
  }
}


//custom checkbox styling
.checkbox-container
{
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Hide the browser's default checkbox */
  input
  {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkmark
    {
      background-color: @abraa-blue;
      border-color: @abraa-blue;
      &:after
      {
        display: block;
      }
    }
  }

  /* Create a custom checkbox */
  .checkmark
  {
    position: absolute;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: @white;
    .border-radius;
    border: 2px solid @light-gray;

    /* Create the checkmark/indicator (hidden when not checked) */
    &:after
    {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 1px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  /* On mouse-over, add a grey background color */
  &:hover
  {
    input ~ .checkmark
    {
      border-color: @abraa-blue;
    }
  }

  .count
  {
    font-size: 10px;
  }
}


/* Customize the label (the container) */
.radio-container
{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  vertical-align: bottom;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: @label-gray !important;

  /* Hide the browser's default radio button */
  input
  {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    /* When the radio button is checked, add a blue background */
    &:checked ~ .checkmark
    {
      border-color: @abraa-blue;
      /* Show the indicator (dot/circle) when checked */
      &:after
      {
          display: block;
      }
    }
  }

  /* Create a custom radio button */
  .checkmark
  {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: @white;
    border: 2px solid @abraa-light-blue-border;
    border-radius: 50%;

    /* Create the indicator (the dot/circle - hidden when not checked) */
    &:after
    {
      content: "";
      position: absolute;
      display: none;
      top: 4px;
      left: 4px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: @abraa-blue;
    }
  }

  /* On mouse-over, add a grey background color */
  &:hover
  {
    input ~ .checkmark
    {
      border-color: @abraa-blue;
    }
  }
}

.register-form
{
  .radio-container
  {
    .checkmark
    {
      margin-top: 14px;
    }
    img
    {
      height: 48px;
      margin-right: 6px;
    }
  }
}