//General styles shared across the website

//set default background and padding for the body
body
{
  background-color: @body_bg;
  padding: @body_padding;
}
//overwrite default form label styles
label
{
  font-weight: normal;
  color: @medium-gray;
}

//horizontal slider styles
.horizontal-slider
{
  position: relative;
  @media (max-width: @screen-xs-max) { border-color: transparent; }
  .MS-content
  {
    margin: 15px 5%;
    overflow: hidden;
    white-space: nowrap;

    @media (max-width: @screen-xs-max) { margin: 0; }

    .item
    {
      display: inline-block;
      overflow: hidden;
      position: relative;
      vertical-align: top;
      padding: 10px;
      img
      {
        width: 100%;
      }
      width: 20%;

      //update width for smaller sizes
      @media (max-width: @screen-md-max) { width: 25%; }
      @media (max-width: @screen-sm-max) { width: 33.3333%; }
      @media (max-width: @screen-xs-max) { width: 50%; }

      p
      {
        color: @medium-gray;
        text-align: center;
        line-height: 1;
        vertical-align: middle;
        margin: 0;
        padding: 10px 0;
      }
    }
  }
  .MS-controls
  {
    button
    {
      position: absolute;
      border: none;
      background: transparent;
      font-size: 30px;
      outline: 0;
      top: 60px;
      &:hover
      {
        cursor: pointer;
      }
    }
    .MS-left
    {
      left: 10px;
      //adjust the position of the arrows on smaller screen
      @media (max-width: @screen-sm-max) { left: -2px; }
    }
    .MS-right
    {
      right: 10px;
      //adjust the position of the arrows on smaller screen
      @media (max-width: @screen-sm-max) { right: -2px; }
    }
  }
}

//product box used on grid view when listing products (index, supplier, category pages)
.product-box
{
  .box-shadow(0px 0px 5px 0px @light-gray);
  background-color: @white;
  padding: 10px;
  .mt25;
  .product-discount
  {
    position: absolute;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 10px;
    color: @white;
    background-color: @discount-red;
    margin-top: 10px;
    .box-shadow(0px 3px 3px 0px @dark-gray);
  }
  .product-img
  {
    width: 100%;
  }
  .product-info
  {
    .product-name
    {
      color: @abraa-blue;
    }
    .product-price, .product-min-order
    {
      color: @dark-gray;
      small
      {
        color: @medium-gray;
      }
    }
  }
  .supplier-info
  {
    .supplier-origin
    {
      img
      {
        width: 30px;
        display: inline-block;
      }
    }
    .supplier-action
    {
      padding-top: 20px
    }
  }
  &.product-box-rfq-btn
  {
    position: relative;
    .new-rfq-content
    {
      width: 100%;
      position: absolute;
      bottom: 10px;
      padding-right: 25px;
      color: @white;
    }
  }
}

.pagination
{
 .page-link{
   .transition;
   color: @abraa-blue;
   background-color: @transparent;
   border-color: @abraa-blue !important;
   border-radius: 5px;
   margin: 0 2px;
   &:hover, &:focus, &:active{
     color: @white;
     background-color: @abraa-blue;
   }
   &.no-bg{
    border-color: @transparent !important;
    margin: 0 5px;
    &:hover, &:focus, &:active{
     color: @abraa-dark-blue;
     background-color: @transparent;
    }
   }
 }
}

//general small block (with text inside) used for item listings without an image (index)
.item-sm-block
{
  color: @black;
  font-size: 14px;
  small
  {
    color: @medium-gray;
  }
}

//general class for banners used on supplier and home page
.page-banner
{
  background-size: cover;
}

//footer styles
.abraa-footer
{
  color: @dark-gray;
  background-color: @footer-bg;
  padding: 30px 0;
  //adjust the text to be centered on mobile for easier readability
  @media screen and (max-width: @screen-xs-max)
  {
    text-align: center;
  }
  .footer-logo
  {
    width: 140px;
  }
  h4
  {
    color: @dark-gray;
    margin-bottom: 20px;
  }
  .dlist-footer-ul
  {
    list-style-type: none;
    .no-padding;
    li
    {
      a
      {
        color: @dark-gray;
        display: block;
        margin-bottom: 5px;
        &:hover
        {
          text-decoration: none;
          color: @abraa-dark-blue !important;
        }
      }
    }
  }
  .google-play-link
  {
    display: block;
    img
    {
      width: 100%;
      //make the google play link fixed width on mobile so it's not pixelated
      @media screen and (max-width: @screen-xs-max)
      {
        max-width: 150px;
        margin-top: 10px;
      }
    }
  }
}

//star rankings section (used for reviews and item/supplier rankings)
.supplier-ranking
{
  i
  {
    color: @ranking-yellow;
  }
  .ranking_count
  {
    color: @medium-gray;
  }
}

//sidebar with filters (used on categories/supplier pages)
.filters-bar
{
  margin: 25px 0;
  background-color: @white;
  padding: 20px 15px;

  .link_filters,
  .breadcrumbs-filter
  {
    list-style-type: none;
    .no-padding;
    li
    {
      a
      {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        color: @dark-gray;
        .no-underline-on-hover;
        &:hover
        {
          color: @abraa-blue;
        }
        .count
        {
          font-size: 10px;
        }
      }
      ul{
        padding-left: 15px;
        list-style-type: none;
      }
    }
  }
  .price-range-filter
  {
    .form-control
    {
      display: inline-block;
      width: 60px;
    }
    .currency
    {
      color: @medium-gray;
    }
  }
}


//breadcrumbs
.breadcrumbs
{
  color: @abraa-blue;
  a
  {
    color: @abraa-blue;
    .no-underline-on-hover;
    &:hover,
    &:focus,
    &:active
    {
      color: @abraa-dark-blue;
    }
  }
  &.breadcrumbs-white
  {
    color: @white;
    a
    {
      color: @white;
      &:hover,
      &:focus,
      &:active
      {
        color: @white;
        text-decoration: underline;
      }
    }
  }
  &.breadcrumbs-banner
  {
    position: absolute;
    width: 100%;
    padding-top: 20px;

  }
}

//category page
.page-banner
{
  &.category-page
  {
    padding: 90px 0;
    @media screen and (max-width: @screen-xs-max)
    {
      padding: 30px 0;
    }
  }
}

.sub-category-links
{
  a
  {
    display: inline-block;
    padding: 20px;
    .no-underline-on-hover;
    .sub-category-icon
    {
      padding: 20px;
      border-radius: 50%;
      background-color: @abraa-light-green;
      border: 2px solid @abraa-light-green;
      .transition;
      img
      {
        width: 100px;
        @media screen and (max-width: @screen-xs-max)
        {
          width: 50px;
        }
      }
    }
    .sub-category-info
    {
      color: @light-gray;
    }
    &:hover,
    &:active,
    &:focus
    {
      .sub-category-icon
      {
        border-color: @white;
      }
      .sub-category-info
      {
        color: @white;
        text-decoration: none !important;
      }
    }
  }
}