//Styles for helper classes used throughout the website
//(e.g. extra paddings, margins, spacings, backgrounds, colors, etc.)

//------------ margins and paddings ----------
.mt0
{
  margin-top: 0 !important;
}
.mt5
{
  margin-top: 5px;
}
.mt20
{
  margin-top: 20px;
}
.mt25
{
  margin-top: 25px;
}
.mt60
{
  margin-top: 60px;
}
.mmt25
{
  //set top margin for mobile screens only, useful when they're side by side on desktop
  @media screen and (max-width: @screen-xs-max)
  {
    margin-top: 25px;
  }
}
.mb0
{
  margin-bottom: 0 !important;
}
.mb5
{
  margin-bottom: 5px !important;
}
.mb10
{
  margin-bottom: 10px;
}
.mb20
{
  margin-bottom: 20px;
}
.mb25
{
  margin-bottom: 25px;
}
.pad30
{
  padding: 30px;
}
.pl10
{
  padding-left: 10px;
}
.ptb10
{
  padding-top: 10px;
  padding-bottom: 10px;
}
.ptb20
{
  padding-top: 20px;
  padding-bottom: 20px;
}

//------------ width and height ----------
.full-width
{
  width: 100%;
}
.full-height
{
  height: 100%;
}
.mw100
{
  //width 100% on mobile screen only
  @media screen and (max-width: @screen-xs-max)
  {
    width: 100%;
  }
}

//------------ borders ----------
.border-bottom-section
{
  border-bottom: 2px solid @light-gray;
}
.border-right
{
  border-right: 1px solid @light-gray;
  //for lists where on desktop they're side by side, on mobile we want the border to be on the bottom as a separator
  @media screen and (max-width: @screen-xs-max)
  {
    border: none;
    border-bottom: 1px solid @light-gray;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.light_blue_border
{
  border: 1px solid @abraa-light-blue-border;
}
.border-radius-5
{
  border-radius: 5px;
}

//------------ backgrounds ----------
.white_bg_section
{
  background-color: @white;
}
.light_blue_bg_section
{
  background-color: @bg_light_blue;
}
.dark_blue_bg_section
{
  background-color: @bg_dark_blue;
  h3
  {
    color: @white !important;
  }
}
.bright_blue_bg_section
{
  background-color: @abraa-blue;
  color: @white;
}
.green_bg_section
{
  background-color: @abraa-green;
}

//------------ colors ----------

//header that is white in color with box shadow
//used in few cases where text needs to be laid on top of an image
.heading-white
{
  color: @white;
  text-shadow: 0px 2px 5px @dark-gray;
}

//header that is gray in color
//used in cases where we want to highlight a sub-section header
.heading-gray
{
  color: @medium-gray;
}

//horizontal line (darker color) used on sections with light backgrounds
hr.dark
{
  border-color: @hr-gray;
}