.navbar-abraa{
  background-color: @navbar_bg;
  box-shadow: @navbar_box_shadow_size @navbar_box_shadow_color;
  .navbar-header{
    .navbar-toggle{
      float: left;
      display: block;
      margin-top: 15px;
      .no-border;
    }
    .navbar-logo{
      height: auto;
      margin-top: 15px;
      float: left;
      display: inline-block;
      img{
        height: @navbar_logo_height;
      }
      @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        padding-left: 0;
        padding-right: 0;
      }
      @media screen and (max-width: @screen-xs-max) {
        display: inline-block;
      }
    }
  }

  .header-search-section{
    @media screen and (max-width: @screen-xs-max) {
      display: none;
      &.active{
        display: block;
      }
      background-color: @white;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      top: 56px;
    }
  }

  .navbar-search{
    margin: 0;
    padding: 14px 0 14px 0;
    width: 80%;
    @media screen and (max-width: @screen-xs-max) {
      width: 100%;
    }
    .navbar_search_input{
      padding-left: 110px;
      padding-right: 60px;
      border: 2px solid @abraa-blue;
      height: @navbar_search_height;
      .border-radius;
    }
    .navbar-search-btn{
      .no-border;
      .no-box-shadow;
      color: @abraa-blue;
      background-color: @transparent;
      position: absolute;
      right: 20%;
      margin-top: -30px;
      margin-right: 20px;
      .text{
        display: none;
      }
      @media screen and (max-width: @screen-xs-max) {
        color: @white;
        background-color: @abraa-blue;
        right: 0;
        padding: 10px 15px;
        margin-top: -36px;
        margin-right: 14px;
        .border-radiuses (5px, 5px, 0, 0);
      }
    }

  }
  .new_rfq_btn{
    right: 0;
    position: absolute;
    padding: 14px 0;
    margin-top: -58px;
    margin-right: 20px;
    img{
      margin-right: 5px;
    }
    @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      span{
        display: none;
      }
    }
    @media screen and (max-width: @screen-xs-max) {
      display: none;
    }
  }
  .navbar_right{
    text-align: right;
    padding: 12px 0;
    @media screen and (min-width: @screen-sm-min) and (max-width: @screen-md-max){
      padding: 16px 0;
    }
    @media screen and (max-width: @screen-xs-max) {
      padding: 0;
    }
    .navbar_dropdown{
      display: inline-block;
    }
    a{
      display: inline-block;
      color: @dark-gray;
      margin-left: 10px;
      @media screen and (min-width: @screen-sm-min) and (max-width: @screen-md-max){
        margin-left: 0;
      }
      @media screen and (max-width: @screen-xs-max) {
        margin-top: 4px;
        margin-right: 10px;
      }

      .no-underline-on-hover;
      .glyphicon{
        font-size: 10px;
        margin-left: 6px;
        @media screen and (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
          margin-left: 3px;
        }
      }
    }
    .user_profile_box{
      @media screen and (max-width: @screen-xs-max) {
        position: absolute;
        right: 0;
        margin-top: -50px;
      }
      .user_profile_btn{
        img{
          width: 40px;
          border-radius: 50%;
          border: 1px solid @light-gray;
          @media screen and (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
            width: 30px;
          }
        }
      }
    }
    .navbar-lang-form{
      .no-margin;
    }
    .mobile_search_box{
      position: absolute;
      right: 85px;
      margin-top: -42px;
      .glyphicon{
        font-size: 22px;
        color: @abraa-blue;
      }
    }
  }
}