.navbar-abraa{
  background-color: @navbar_bg;
  box-shadow: @navbar_box_shadow_size @navbar_box_shadow_color;
  .navbar-header{
    @media screen and (max-width: @screen-xs-max) {
      text-align: center;
    }
    .navbar-toggle{
      float: left;
      display: block;
      margin-top: 15px;
      .no-border;
    }
    .navbar-logo{
      height: auto;
      margin-top: 15px;
      float: left;
      display: inline-block;
      img{
        height: @navbar_logo_height;
      }
      @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        padding-left: 0;
        padding-right: 0;
      }
      @media screen and (max-width: @screen-xs-max) {
        display: inline-block;
        float: none;
        margin-left: -57px;
      }
    }
  }

  .navbar-search{
    margin: 0;
    padding: 14px 0 14px 0;
    width: 80%;
    .selectBox{
      .no-border;
      .no-outline;
      position: absolute;
      min-width: 100px;
      //overwriting vendor drop down style
      .selectBox-label, .selectBox-arrow{
        .no-border;
        color: @white;
        background-color: @abraa-blue;
        height: @navbar_search_height;
        padding: 7px 14px;
        .border-radiuses (0, 0, 5px, 5px);
      }
      .selectBox-arrow{
        padding: 0;
        .glyphicon-block;
        .glyphicon-block-triangle-down;
        position: absolute;
        margin-top: -1px;
        &:before{
          margin-top: 12px;
          display: inline-block;
          font-size: 10px;
          margin-left: 2px;
        }
      }
      &.selectBox-menuShowing{
        .selectBox-label{
          .border-radiuses (0, 0, 0, 5px);
        }
      }
    }
    .navbar_search_input{
      padding-left: 110px;
      padding-right: 60px;
      border: 2px solid @abraa-blue;
      height: @navbar_search_height;
      .border-radius;
    }
    .navbar-search-btn{
      .no-border;
      .no-box-shadow;
      color: @abraa-blue;
      background-color: @transparent;
      position: absolute;
      right: 20%;
      margin-top: -30px;
      margin-right: 20px;
      .text{
        display: none;
      }
    }

  }
  .new_rfq_btn{
    right: 0;
    position: absolute;
    padding: 14px 0;
    margin-top: -58px;
    margin-right: 20px;
    img{
      margin-right: 5px;
    }
    @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      span{
        display: none;
      }
    }
  }
  .navbar_right{
    text-align: right;
    padding: 12px 0;
    @media screen and (min-width: @screen-sm-min) and (max-width: @screen-md-max){
      padding: 16px 0;
    }
    @media screen and (max-width: @screen-xs-max) {
      padding: 0;
    }
    .navbar_dropdown{
      display: inline-block;
    }
    a{
      display: inline-block;
      color: @dark-gray;
      padding: 0 10px;
      margin-left: 10px;
      @media screen and (min-width: @screen-sm-min) and (max-width: @screen-md-max){
        margin-left: 0;
      }
      .no-underline-on-hover;
      .glyphicon{
        font-size: 10px;
        margin-left: 6px;
        @media screen and (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
          margin-left: 3px;
        }
      }
    }
    .user_profile_box{
      @media screen and (max-width: @screen-xs-max) {
        position: absolute;
        right: 0;
        margin-top: -50px;
      }
      .user_profile_btn{
        img{
          width: 40px;
          border-radius: 50%;
          border: 1px solid @light-gray;
          @media screen and (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
            width: 30px;
          }
        }
      }
    }


    .lang_selection_box{
      .lang_switch_btn{
        width: 74px;
        padding: 5px 0;
        text-align: center;
        .current_lang{
          font-size: 16px;
        }
        @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
          width: 42px;
        }
      }
      .dropdown-menu{
        margin-left: 10px;
        @media screen and (min-width: @screen-sm-min) and (max-width: @screen-md-max){
          margin-left: 0;
        }
        min-width: 74px;
        border-top: 0;
        border-radius: 0;
        margin-top: -1px;
        @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
          min-width: 42px;
        }
      }
      //open is added by bootstrap when the drop down opens
      &.open{
        .lang_switch_btn{
          border: 1px solid @dark-gray;
          border-bottom: 0;
          .border-radiuses (5px, 0, 0, 5px);
          .no-box-shadow;
        }
        .dropdown-menu{
          border: 1px solid @dark-gray;
          border-top: 0;
          .border-radiuses (0, 5px, 5px, 0);
          padding: 0;
          li{
            a{
              border-top: 1px solid @light-gray;
              display: block;
              margin: 0;
              padding: 5px;
              text-align: center;
            }
          }
        }
      }
    }

  }

}

//the actual drop down is supposed to be outside the navbar so code is placed here. 
//overwriting the vendor one
.selectBox-options{
  .no-border;
  background-color: @abraa-blue;
  li{
    a{
      color: @white;
      padding: 7px 14px;
    }
    &.selectBox-hover, &.selectBox-selected{
      a{
        .no-underline-on-hover;
        background-color: @abraa-dark-blue;
      }
    }
  }
}