//Styling for the top header navigation bar on the website

.navbar-abraa
{
  background-color: @navbar_bg;
  box-shadow: @navbar_box_shadow_size @navbar_box_shadow_color;
  .navbar-header
  {
    .navbar-toggle
    {
      float: left;
      display: block;
      margin-top: 15px;
      .no-border;
    }
    .navbar-logo
    {
      height: auto;
      margin-top: 15px;
      float: left;
      display: inline-block;
      img
      {
        height: @navbar_logo_height;
      }
      //adjust the padding for smaller screens to fit
      @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max)
      {
        padding-left: 0;
        padding-right: 0;
      }
      //adjust alignment so it can be on the left
      @media screen and (max-width: @screen-xs-max)
      {
        display: inline-block;
      }
    }
  }
  .header-search-section
  {
    //hide the search section on mobile, unless it's toggled (active class is added)
    @media screen and (max-width: @screen-xs-max)
    {
      display: none;
      &.active
      {
        display: block;
      }
      background-color: @white;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      top: 56px;
    }
  }
  .navbar-search
  {
    margin: 0;
    padding: 14px 0 14px 0;
    width: 80%;
    //full width navbar search on mobile screen
    @media screen and (max-width: @screen-xs-max)
    {
      width: 100%;
    }
    .navbar_search_input
    {
      padding-left: 110px;
      padding-right: 60px;
      border: 2px solid @abraa-blue;
      height: @navbar_search_height;
      .border-radius;
    }
    .navbar-search-btn
    {
      .no-border;
      .no-box-shadow;
      color: @abraa-blue;
      background-color: @transparent;
      position: absolute;
      right: 20%;
      margin-top: -30px;
      margin-right: 20px;
      .text
      {
        display: none;
      }
      //inverse the search button for mobile, set blue background and white text
      @media screen and (max-width: @screen-xs-max)
      {
        color: @white;
        background-color: @abraa-blue;
        right: 0;
        padding: 10px 15px;
        margin-top: -36px;
        margin-right: 14px;
        .border-radiuses (5px, 5px, 0, 0);
      }
    }

  }
  .new_rfq_btn
  {
    right: 0;
    position: absolute;
    padding: 14px 0;
    margin-top: -58px;
    margin-right: 20px;
    img
    {
      margin-right: 5px;
    }
    //hide the new rfq text (but not the icon) on tablet screen (to fit)
    @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max)
    {
      span
      {
        display: none;
      }
    }
    //hide the new rfq text and the icon on mobile
    @media screen and (max-width: @screen-xs-max)
    {
      display: none;
    }
  }
  .navbar_right
  {
    text-align: right;
    padding: 12px 0;
    //adjust padding for smaller screens
    @media screen and (min-width: @screen-sm-min) and (max-width: @screen-md-max)
    {
      padding: 16px 0;
    }
    //adjust padding for smaller screens
    @media screen and (max-width: @screen-xs-max)
    {
      padding: 0;
    }
    .navbar_dropdown
    {
      display: inline-block;
    }
    a
    {
      display: inline-block;
      color: @dark-gray;
      margin-left: 10px;
      //remove the left margin on smaller screen to fit
      @media screen and (min-width: @screen-sm-min) and (max-width: @screen-md-max)
      {
        margin-left: 0;
      }
      //adjust the margins for mobile
      @media screen and (max-width: @screen-xs-max)
      {
        margin-top: 4px;
        margin-right: 10px;
      }

      .no-underline-on-hover;
      .glyphicon
      {
        font-size: 10px;
        margin-left: 6px;
        //move the icon closer on smaller screens to fit
        @media screen and (min-width: @screen-sm-min) and (max-width: @screen-md-max)
        {
          margin-left: 3px;
        }
      }
    }
    .user_profile_box
    {
      //user profile dropdown to move to the right on mobile
      @media screen and (max-width: @screen-xs-max)
      {
        position: absolute;
        right: 0;
        margin-top: -50px;
      }
      .dropdown
      {
        .user_profile_btn
        {
          img
          {
            width: 40px;
            border-radius: 50%;
            border: 1px solid @light-gray;
            //smaller profile btn on tablets
            @media screen and (min-width: @screen-sm-min) and (max-width: @screen-md-max)
            {
              width: 30px;
            }
          }
        }
        &.open
        {
          .user_profile_dropdown
          {
            width: 180px;
            padding: 10px;
            margin-top: -51px;
            margin-left: -1px;
            //adjust profile dropdown to align on smaller screens
            @media screen and (min-width: @screen-sm-min) and (max-width: @screen-md-max)
            {
              margin-top: -41px;
              margin-left: -11px;
            }
            //adjust profile dropdown to align on smaller screens
            @media screen and (max-width: @screen-xs-max)
            {
              margin-left: -101px;
              margin-top: -45px;
            }
            &.visitors_dropdown
            {
              margin-top: 5px;
            }
            .no-box-shadow;
            border: 1px solid @abraa-blue;
            .border-radius;
            .profile-img-section
            {
              img
              {
                width: 40px;
                border-radius: 50%;
                border: 1px solid @light-gray;
                //adjust size to fit on smaller screens
                @media screen and (min-width: @screen-sm-min) and (max-width: @screen-md-max)
                {
                  width: 30px;
                }
              }
              .glyphicon
              {
                float: right;
                margin-top: 10px;
                font-size: 12px;
                color: @dark-gray;
              }
            }
            .profile-info-section
            {
              padding-top: 20px;
              p
              {
                font-size: 12px;
                .no-margin;
                color: @medium-gray;
                &.profile-email
                {
                  color: @abraa-blue;
                  font-style: italic;
                }
                &.profile-company
                {
                  font-weight: bold;
                }
              }
            }
            .profile-links-section
            {
              hr
              {
                margin-top: 10px;
                margin-bottom: 10px;
              }
              a
              {
                .no-margin;
              }
              ul
              {
                list-style-type: none;
                .no-padding;
                li
                {
                  .no-padding;
                  a
                  {
                    display: block;
                    width: 100%;
                    padding: 5px 0px;
                    &:hover, &:active
                    {
                      color: @abraa-blue;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .navbar-lang-form
    {
      .no-margin;
    }
    .mobile_search_box
    {
      position: absolute;
      right: 85px;
      margin-top: -42px;
      .glyphicon
      {
        font-size: 22px;
        color: @abraa-blue;
      }
    }
    .user_notifications_box
    {
      .notifications-count
      {
        display: none;
      }
      .user_notifications_btn
      {
        .glyphicon-bell
        {
          margin-top: 10px;
          vertical-align: bottom;
          font-size: 22px;
          color: @light-gray;
          &:hover
          {
            color: @dark-gray;
          }
        }
      }
      .user_notifications_dropdown
      {
        padding: 10px;
        width: 200px;
        margin-top: -34px;
        margin-left: 6px;
        //adjust margins to fit on smaller screens
        @media screen and (min-width: @screen-sm-min) and (max-width: @screen-md-max)
        {
          margin-top: -33px;
          margin-left: -8px;
        }
        .glyphicon-bell
        {
          font-size: 22px;
          color: @light-gray;
        }
        .notifications-header-section
        {
          .glyphicon-triangle-bottom
          {
            float: right;
            margin-top: 5px;
            font-size: 12px;
            color: @dark-gray;
          }
          padding-bottom: 10px;
        }
        .notifications-list
        {
          ul
          {
            list-style-type: none;
            .no-padding;
            li
            {
              padding-left: 30px;
              border-bottom: 1px solid @light-gray;
              padding-top: 10px;
              padding-bottom: 10px;
              .notification-label
              {
                position: absolute;
                display: block;
                height: 20px;
                width: 20px;
                margin-left: -30px;
                .border-radius;
                &.label-yellow
                {
                  background-color: @yellow;
                }
                &.label-green
                {
                  background-color: @green;
                }
                &.label-red
                {
                  background-color: @red;
                }
                &.label-black
                {
                  background-color: @black;
                }
              }
              .notification-text
              {
                color: @medium-gray;
                font-size: 10px;
              }
              .notification-action
              {
                a
                {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
      &.with-notifications
      {
          .glyphicon-bell
          {
            color: @abraa-blue;
            &:hover
            {
              color: @abraa-dark-blue;
            }
          }
          .notifications-count
          {
            display: block;
            background-color: @red;
            color: @white;
            padding: 0;
            height: 13px;
            width: 13px;
            font-size: 8px;
            border-radius: 50%;
            text-align: center;
            padding-top: 1px;
            position: absolute;
            top: 0;
            margin-left: 14px;
            margin-top: 5px;
          }
      }
    }
  }
  .visitor_buttons
  {
    position: absolute;
    width: 200px;
    right: 65px;
    //add a margin for bigger screens
    @media screen and (min-width: @screen-lg-min)
    {
      margin-top: 5px;
    }
    //align the visitor buttons on the right for mobile
    @media screen and (max-width: @screen-xs-max)
    {
      right: 0;
    }
  }
}