//refactored the selectBox styles to work for different dropdowns (same plugin, different styles, based on dropdown class)


.selectBox{
  .no-border;
  .no-outline;

  //styles specific to the search dropdown in the header
  &.headerSearchType{
    position: absolute;
    min-width: 100px;
    //overwriting vendor drop down style
    .selectBox-label, .selectBox-arrow{
      .no-border;
      color: @white;
      background-color: @abraa-blue;
      height: @navbar_search_height;
      padding: 7px 14px;
      .border-radiuses (0, 0, 5px, 5px);
    }
    .selectBox-arrow{
      padding: 0;
      .glyphicon-block;
      .glyphicon-block-triangle-down;
      position: absolute;
      margin-top: -1px;
      &:before{
        margin-top: 12px;
        display: inline-block;
        font-size: 10px;
        margin-left: 2px;
      }
    }
    &.selectBox-menuShowing{
      .selectBox-label{
        .border-radiuses (0, 0, 0, 5px);
      }
    }
  }

  //styles specific to the language dropdown on the header
  &.headerLang{
    .no-padding;
    min-width: 60px;
    //overwriting vendor drop down style
    .selectBox-label, .selectBox-arrow{
      .no-border;
      color: @dark-gray;
      background-color: @white;
      height: 30px;
      padding: 7px 14px;
      .border-radius;
    }
    .selectBox-arrow{
      padding: 0;
      .glyphicon-block;
      .glyphicon-block-triangle-down;
      position: absolute;
      margin-top: -1px;
      &:before{
        margin-top: 12px;
        display: inline-block;
        font-size: 10px;
        margin-left: 2px;
      }
    }
    &.selectBox-menuShowing{
      .selectBox-label{
        .border-radiuses (0, 0, 0, 5px);
      }
    }
  }
}

//refactored the selectBox-options styles to work for different dropdowns (same plugin, different styles, based on dropdown class)
.selectBox-options{
  .no-border;

  //styles specific to the search dropdown in the header
  &.headerSearchType-selectBox-dropdown-menu{
    background-color: @abraa-blue;
    li{
      a{
        color: @white;
        padding: 7px 14px;
      }
      &.selectBox-hover, &.selectBox-selected{
        a{
          .no-underline-on-hover;
          background-color: @abraa-dark-blue;
        }
      }
    }
  }

  //styles specific to the language dropdown on the header
  &.headerLang-selectBox-dropdown-menu{
    background-color: @white;
    li{
      a{
        color: @dark-gray;
        padding: 7px 14px;
      }
      &.selectBox-hover, &.selectBox-selected{
        a{
          .no-underline-on-hover;
          background-color: @light-gray;
        }
      }
    }
  }
}