.no-border {
  border: none;
}
.no-outline {
  outline: none;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-underline-on-hover:hover {
  text-decoration: none;
}
.brands-discover-list a {
  text-align: center;
  float: none;
  display: inline-block;
  margin: 10px;
  color: #6c6c6c;
}
.brands-discover-list a:hover {
  text-decoration: none;
}
.brands-discover-list img,
.brands-list img,
.suppliers-list img {
  height: 100px;
}
.suppliers-list a {
  text-align: center;
  float: none;
  display: inline-block;
  margin: 10px;
  color: #9c9c9c;
}
.suppliers-list a:hover {
  text-decoration: none;
}
.page-banner.home-page h2 {
  font-size: 52px;
  padding-top: 60px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .page-banner.home-page h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 767px) {
  .page-banner.home-page h2 {
    font-size: 24px;
  }
}
.page-banner.home-page .rfq-create-wrapper {
  padding: 20px 36px;
  background-color: #ffffff;
  margin: 30px 0;
  -webkit-box-shadow: 0px 0px 6px 0px #9c9c9c;
  box-shadow: 0px 0px 6px 0px #9c9c9c;
  border-radius: 5px;
  background-clip: padding-box;
}
.page-banner.home-page .rfq-create-wrapper h4 {
  font-size: 14px !important;
}
.usp_block {
  display: inline-block;
  width: 300px;
  padding: 20px 0 20px 60px;
  text-align: left;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .usp_block {
    width: 230px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .usp_block {
    width: 100%;
  }
}
.usp_block img {
  float: left;
  width: 46px;
  margin-left: -53px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .usp_block img {
    width: 26px;
    margin-left: -33px;
    margin-top: 5px;
  }
}
.usp_block h4 {
  margin-top: 5px;
  margin-bottom: 0;
  color: #000000;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .usp_block h4 {
    font-size: 14px;
  }
}
.usp_block p {
  margin: 0;
  color: #9c9c9c;
  font-size: 12px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .usp_block p {
    font-size: 10px;
  }
}
.product-categories-grid {
  text-align: center;
  margin-bottom: 0;
}
.product-categories-grid td {
  background-color: #ffffff;
}
.product-categories-grid td .product-category-name {
  color: #6c6c6c;
}
.product-categories-grid td .product-category-name:hover {
  text-decoration: none;
}
.product-categories-grid td .product-category-name,
.product-categories-grid td .product-category-img {
  display: inline-block;
  width: 120px;
  font-size: 14px;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .product-categories-grid td .product-category-name,
  .product-categories-grid td .product-category-img {
    width: 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-categories-grid td .product-category-name,
  .product-categories-grid td .product-category-img {
    width: 80px;
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .product-categories-grid td .product-category-name,
  .product-categories-grid td .product-category-img {
    width: 100%;
    font-size: 12px;
  }
}
.item-sm-block {
  color: #000000;
  font-size: 14px;
}
.item-sm-block small {
  color: #9c9c9c;
}
[dir=rtl] .usp_block {
  padding: 20px 60px 20px 0;
  text-align: right;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  [dir=rtl] .usp_block {
    padding-left: 0;
    padding-right: 30px;
  }
}
[dir=rtl] .usp_block img {
  float: right;
  margin-left: 0;
  margin-right: -53px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  [dir=rtl] .usp_block img {
    margin-left: 0;
    margin-right: -33px;
  }
}
