.no-border {
  border: none;
}
.no-outline {
  outline: none;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-underline-on-hover:hover {
  text-decoration: none;
}
.product-price {
  padding: 20px 0;
  font-size: 24px;
  margin: 0;
}
.product-price.unknown {
  color: #9c9c9c;
}
.product-price small {
  color: #9c9c9c;
}
@media screen and (max-width: 1199px) {
  .product-price {
    padding: 20px 0 10px 0;
  }
}
.product-shortcut-links {
  padding: 30px 0 17px 0;
  font-size: 13px;
}
.product-shortcut-links a {
  color: #9c9c9c;
  padding: 0 5px;
}
.product-shortcut-links a:hover {
  text-decoration: none;
}
.product-shortcut-links a:hover,
.product-shortcut-links a:focus,
.product-shortcut-links a:active {
  color: #4da1ff;
}
@media screen and (max-width: 1199px) {
  .product-shortcut-links {
    padding: 10px 0;
  }
  .product-shortcut-links a {
    float: left !important;
  }
}
.product-cta-section .abraa-btn {
  font-size: 14px;
  margin: 10px 0;
  padding: 15px 10px;
}
@media screen and (max-width: 1199px) {
  .product-cta-section .abraa-btn {
    font-size: 12px;
  }
}
.product-page-supplier-info {
  padding: 10px;
}
.product-page-supplier-info .supplier-type {
  padding-top: 20px;
  font-size: 12px;
  color: #9c9c9c;
}
.product-page-supplier-info .supplier-origin img {
  width: 30px;
  display: inline-block;
}
.product-page-supplier-info .supplier-membership {
  font-size: 12px;
  color: #9c9c9c;
  margin-top: 10px;
}
.product-page-supplier-info .supplier-stats {
  font-size: 10px;
}
.product-page-supplier-info .supplier-stats p {
  margin: 20px 0;
  display: inline-block;
  padding: 0 10px;
}
.product-page-supplier-info .supplier-stats p:first-child {
  border-right: 1px solid #efefef;
}
.product-page-supplier-info .need-help-section {
  color: #9c9c9c;
  text-align: center;
  padding-top: 20px;
}
.product-page-supplier-info .need-help-section ul {
  list-style-type: none;
  padding: 0;
}
.product-page-supplier-info .need-help-section ul li {
  display: inline-block;
  border-left: 1px solid #9c9c9c;
}
.product-page-supplier-info .need-help-section ul li:first-child {
  border: none;
}
.product-page-supplier-info .need-help-section ul li a {
  font-size: 10px;
  padding: 0 5px;
  color: #9c9c9c;
}
.product-page-supplier-info .need-help-section ul li a:hover,
.product-page-supplier-info .need-help-section ul li a:focus,
.product-page-supplier-info .need-help-section ul li a:active {
  color: #4da1ff;
}
.product-page-supplier-info .need-help-section ul li a img {
  width: 15px;
}
[dir=rtl] .product-page-supplier-info .need-help-section ul li {
  border-left: none;
  border-right: 1px solid #9c9c9c;
}
[dir=rtl] .product-page-supplier-info .need-help-section ul li:first-child {
  border: none;
}
@media screen and (max-width: 1199px) {
  [dir=rtl] .product-shortcut-links a {
    float: right !important;
  }
}
