.no-border {
  border: none;
}
.no-outline {
  outline: none;
}
.no-box-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-underline-on-hover:hover {
  text-decoration: none;
}
.supplier-page-header {
  position: absolute;
  width: 100%;
  margin-top: -260px;
}
@media screen and (min-width: 768px) {
  .supplier-page-header.dark-gradient-header {
    padding-top: 60px;
    margin-top: -305px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+48 */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(48%, rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 48%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-8 */
  }
  .supplier-page-header.dark-gradient-header .supplier-header-info {
    text-shadow: 0 0px 10px #000000;
  }
}
@media screen and (max-width: 767px) {
  .supplier-page-header {
    position: relative;
    margin-top: 0;
  }
}
.supplier-page-header .supplier-header-action {
  padding: 40px 0;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .supplier-page-header .supplier-header-action a {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .supplier-page-header .supplier-header-action {
    padding: 20px 0;
    padding-top: 0;
    text-align: center !important;
  }
  .supplier-page-header .supplier-header-action a {
    display: block;
    width: 100%;
    background-color: #4da1ff;
  }
}
.supplier-page-header .supplier-header-info {
  color: #ffffff;
  text-shadow: 0 1px 1px #6c6c6c;
}
@media screen and (min-width: 991px) {
  .supplier-page-header .supplier-header-info {
    padding-left: 200px;
  }
}
@media screen and (max-width: 767px) {
  .supplier-page-header .supplier-header-info {
    text-align: center;
    color: #6c6c6c;
    text-shadow: none;
  }
}
.supplier-page-header .supplier-header-info .supplier-membership {
  color: #efefef;
}
@media screen and (max-width: 767px) {
  .supplier-page-header .supplier-header-info .supplier-membership {
    color: #6c6c6c;
  }
}
.supplier-page-header .supplier-header-info .ranking_count {
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .supplier-page-header .supplier-header-info .ranking_count {
    color: #6c6c6c;
  }
}
.supplier-page-header .supplier-header-info .supplier-logo {
  position: absolute;
  margin-left: -200px;
  width: 180px;
  border-radius: 5px;
  background-clip: padding-box;
  background-color: #ffffff;
}
.supplier-page-header .supplier-header-info .supplier-logo img {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .supplier-page-header .supplier-header-info .supplier-logo img {
    height: 100%;
    width: auto !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .supplier-page-header .supplier-header-info .supplier-logo {
    margin: 0 !important;
    margin-top: -180px !important;
    width: auto;
    height: 160px;
  }
}
@media screen and (max-width: 767px) {
  .supplier-page-header .supplier-header-info .supplier-logo {
    position: relative;
    display: block;
    margin: 0 auto !important;
    margin-top: -40px !important;
    -webkit-box-shadow: 0px 0px 2px #6c6c6c;
    box-shadow: 0px 0px 2px #6c6c6c;
  }
}
.supplier-page-header .supplier-header-info .supplier-categories {
  padding: 10px 0;
}
.supplier-page-header .supplier-header-info .supplier-categories .badge {
  color: #efefef;
  font-weight: normal;
  padding: 5px 10px;
}
.supplier-page-header .supplier-header-info .supplier-verification {
  padding: 15px 0;
  font-size: 18px;
}
.supplier-stats {
  width: 100%;
  padding: 30px 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .supplier-stats {
    padding: 20px 0;
  }
}
.supplier-stats .supplier-stat-block {
  display: inline-block;
  padding: 0 60px;
  border-left: 1px solid #9c9c9c;
}
@media screen and (max-width: 767px) {
  .supplier-stats .supplier-stat-block {
    padding: 0 5px;
  }
}
.supplier-stats .supplier-stat-block:first-child {
  border: none;
}
.supplier-stats .supplier-stat-block .stat-number {
  font-size: 44px;
  margin: 0;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .supplier-stats .supplier-stat-block .stat-number {
    font-size: 32px;
  }
}
@media screen and (max-width: 767px) {
  .supplier-stats .supplier-stat-block .stat-number {
    font-size: 16px;
  }
}
.supplier-stats .supplier-stat-block .stat-title {
  font-size: 16px;
  margin: 0;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .supplier-stats .supplier-stat-block .stat-title {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .supplier-stats .supplier-stat-block .stat-title {
    font-size: 10px;
  }
}
.supplier-tabs {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding-top: 20px;
  padding-bottom: 0;
  display: block;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .supplier-tabs {
    padding-top: 10px;
  }
}
.supplier-tabs .supplier-tab-link {
  color: #6c6c6c;
  vertical-align: bottom;
  font-size: 16px;
  display: inline-block;
  padding: 0 20px 16px 40px;
  border-bottom: 4px solid #ffffff;
  background-size: 24px 24px;
  background-position: left 8px top;
  background-repeat: no-repeat;
  font-weight: bold;
}
.supplier-tabs .supplier-tab-link.products-tab-link {
  background-image: url('../../icons/products_icon.png');
}
.supplier-tabs .supplier-tab-link.products-tab-link.active {
  background-image: url('../../icons/products_icon_active.png');
}
.supplier-tabs .supplier-tab-link.about-tab-link {
  background-image: url('../../icons/about_icon.png');
}
.supplier-tabs .supplier-tab-link.about-tab-link.active {
  background-image: url('../../icons/about_icon_active.png');
}
.supplier-tabs .supplier-tab-link.reviews-tab-link {
  background-image: url('../../icons/reviews_icon.png');
}
.supplier-tabs .supplier-tab-link.reviews-tab-link.active {
  background-image: url('../../icons/reviews_icon_active.png');
}
@media screen and (max-width: 767px) {
  .supplier-tabs .supplier-tab-link {
    font-size: 10px;
    display: inline-block;
    padding: 0 10px 4px 30px;
    background-size: 14px 14px;
    background-position: left 6px top;
  }
}
.supplier-tabs .supplier-tab-link:hover {
  text-decoration: none;
}
.supplier-tabs .supplier-tab-link:hover {
  color: #4da1ff;
}
.supplier-tabs .supplier-tab-link.active {
  color: #4da1ff;
  border-color: #4da1ff;
}
.supplier-about-tab {
  padding: 30px 0;
}
.supplier-about-tab .brands-list a {
  display: inline-block;
  text-align: center;
  color: #6c6c6c;
  margin: 10px 0;
}
.supplier-about-tab .brands-list a:hover {
  text-decoration: none;
}
.supplier-about-tab .brands-list img {
  width: 100px;
}
@media screen and (min-width: 992px) {
  .supplier-about-tab .about-info-right {
    border-left: 1px solid #9c9c9c;
  }
}
.supplier-products-tab {
  padding-bottom: 40px;
}
.page-banner.supplier-page {
  height: 520px;
}
@media screen and (max-width: 767px) {
  .page-banner.supplier-page {
    height: 120px;
  }
}
@media screen and (min-width: 991px) {
  [dir=rtl] .supplier-page-header .supplier-header-info {
    padding-left: 0;
    padding-right: 200px;
  }
}
[dir=rtl] .supplier-page-header .supplier-header-info .supplier-logo {
  margin-left: 0;
  margin-right: -200px;
}
[dir=rtl] .supplier-stats .supplier-stat-block {
  border-left: none;
  border-right: 1px solid #9c9c9c;
}
[dir=rtl] .supplier-tabs .supplier-tab-link {
  padding: 0 40px 16px 20px;
  background-position: right 8px top;
}
@media screen and (max-width: 767px) {
  [dir=rtl] .supplier-tabs .supplier-tab-link {
    padding: 0 30px 4px 10px;
    background-position: right 6px top;
  }
}
@media screen and (min-width: 992px) {
  [dir=rtl] .supplier-about-tab .about-info-right {
    border-left: none;
    border-right: 1px solid #9c9c9c;
  }
}
[dir=rtl] .supplier-products-tab {
  padding-bottom: 40px;
}
